@use "@/styles/abstracts/mixins" as *;

.section {
  width: 100%;
  @include displayGrid(16.5625rem, 4.5rem);
}

.card {
  border-radius: var(--radius);
  background-color: var(--color-secondary-000);
  @include prefix(box-shadow, var(--shadow), ("webkit", "moz"));
  overflow: hidden;
  @include prefix(transition, scale 0.2s ease-in-out, ("webkit", "o"));

  &Image {
    aspect-ratio: 2/1;
    @include prefix(object-fit, cover, ("o"));
  }

  &Container {
    padding: 1.6875rem 1.5rem;
  }

  &Title {
    margin-bottom: 1.1875rem;
    font: {
      size: var(--font-size-lg);
      weight: var(--font-weight-600);
    }
  }

  &List {
    font: {
      size: var(--font-size-sm);
      weight: var(--font-weight-300);
    }
    @include displayFlex(column, nowrap, start, center, 0.5rem);
  }

  &Strong {
    font-weight: var(--font-weight-600);
  }

  &:is(:hover, :focus) {
    scale: 1.02;
  }
}
