@use "@/styles/abstracts/mixins" as *;

.section {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 16.5625rem), 1fr));
  gap: 4.5rem;
}

.button {
  $size: 1.5;
  $position: 2rem;

  position: fixed;
  bottom: $position;
  right: $position + 1;
  border-radius: 100%;
  padding: #{$size}rem;
  background-color: var(--color-primary-000);
  color: var(--color-primary-100);
  box-shadow: var(--shadow);
  cursor: pointer;

  span > svg {
    transform: scale($size) rotate(180deg);
  }
}
