@use "@/styles/abstracts/mixins" as *;

.main {
  min-height: 100vh;
  padding: 2rem 2rem 0 2rem; // delete this line
  @include displayFlex(column, nowrap, start, start);
}

.section {
  width: 100%;
  padding-top: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  gap: 2rem 1rem;
}

.card {
  max-width: 16.5625rem;
  border-radius: var(--radius);
  background-color: var(--color-secondary-000);
  box-shadow: var(--shadow);
  overflow: hidden;

  &Image {
    aspect-ratio: 2/1;
    object-fit: cover;
  }

  &Container {
    padding: 1.6875rem 1.5rem;
  }

  &Title {
    margin-bottom: 1.1875rem;
    font: {
      size: var(--font-size-lg);
      weight: var(--font-weight-600);
    }
  }

  &List {
    font: {
      size: var(--font-size-sm);
      weight: var(--font-weight-300);
    }
    @include displayFlex(column, nowrap, start, center, 0.5rem);
  }

  &Item {
  }

  &Strong {
    font-weight: var(--font-weight-600);
  }
}
