@use "@/styles/abstracts/mixins";

.main {
  padding: 2rem 5rem; // delete this line
  background-color: var(--color-primary-100);
  @include mixins.displayFlex(column, nowrap, center, initial, 2rem);
  scrollbar-gutter: stable;
}
