@use "@/styles/abstracts/mixins" as *;

.header {
  width: 100%;
  min-height: 5rem;
  padding-inline: var(--padding-container);
  background-color: var(--color-secondary-000);
  @include prefix(box-shadow, var(--shadow), ("webkit", "moz"));
  @include displayFlex(row, nowrap, center, space-between);

  &Title {
    font: {
      size: var(--font-size-xl);
      weight: var(--font-weight-800);
    }

    @include mediaQuery("small") {
      font-size: var(--font-size-lg);
    }
  }
}
