@use "@/styles/abstracts/mixins" as *;

.main {
  min-height: 100vh;
  padding: 2rem 2rem 0 2rem; // delete this line
  @include displayFlex(column, nowrap, center, start);
}

.nav {
  width: 100%;
  @include displayFlex(row, wrap, center, space-between, 5rem);
}
