@use "../abstracts/" as *;

:root {
  /* Colors */
  @include getItemsObject($dark, "color");
  --shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);

  /* Typography */
  --font-family-primary: #{$font-family};
  @include getItemsObject($font, "font");

  --radius: 5px;

  &[data-theme="light"] {
    @include getItemsObject($light, "color");
  }

  @media (prefers-color-scheme: light) {
    @include getItemsObject($light, "color");
  }
}
